* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    overflow: hidden;
    background-color: rgb(0, 0, 0);
    color: white;
}

nav {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: rgb(161, 158, 108);
    padding: 0.3rem;
    color: white;
}

nav ul {
    display: flex;
    justify-content: flex-start;
}

nav a {
    text-decoration: none;
    color: black;
}

nav li {
    flex-basis: 170px;
    text-align: center;
    list-style: none;
    color: black;
    cursor: pointer;
    transition: 0.5s ease-in-out;   
    text-transform: uppercase; 
}

nav a:hover{
    color: rgb(255, 255, 255);
}

.logo {
    flex-basis: 220px;
}

img {
    display: block;
    width: auto;
    height: 100%;
    margin: auto;
}

h1 {
    margin-top: 2.5rem;
}