@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	margin-top: 2rem;
	height: calc(100vh - 2rem);
	overflow: scroll;
	background-color: rgb(0, 0, 0);
	color: white;
	font-family: "Poppins", sans-serif;
	font-weight: 400;
}

nav {
	position: fixed;
	top: 0;
	width: 100%;
	background-color: rgb(161, 158, 108);
	padding: 0.3rem;
	color: white;
}

nav ul {
	display: flex;
	justify-content: flex-start;
}

nav a {
	text-decoration: none;
	color: black;
}

nav li {
	flex-basis: 170px;
	text-align: center;
	list-style: none;
	color: black;
	cursor: pointer;
}

nav a:hover {
	color: rgb(255, 255, 255);
}

.logo {
	flex-basis: 220px;
}

img {
	display: block;
	width: auto;
	height: 100%;
	margin: auto;
}

.form-container {
	height: 100%;
	min-height: 300px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.form-control {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.form-control * {
	width: 100%;
	padding: 0.25rem;
}

.form-control select {
	background-color: rgb(161, 158, 108);
	border-radius: 0.25rem;
}

.form-control input {
	background-color: rgb(161, 158, 108);
	border-radius: 0.25rem;
}

.form-control *:active,
:focus {
	color: white;
}

form {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
	background-color: rgb(8, 8, 95);
	padding: 1rem;
	border: 2px solid salmon;
	border-radius: 0.25rem;
}

form button {
	display: block;
	width: fit-content;
	align-self: center;
	padding: 0.5rem;
	background: rgb(30, 101, 255);
	color: white;
	border: 2px solid white;
	border-radius: 0.25rem;
}

form button:hover {
	background: rgb(8, 8, 95);
}
